html, body, #root {
  width: 100%;
  height: 100%;
}

#three-playground {
  width: 100%;
  height: 100%;
  display: flex;
}

aside {
  flex: 0 0 250px;
}

main {
  flex-grow: 1;
  display: flex;
}

main > div {
  display: flex;
  justify-content: center;
}

#webgl-canvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}